.seo-keywords--container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 0.25rem;
  grid-column-gap: 0.25rem;

  .seo-keyword--container {
    grid-column: span 3;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 4px 4px 4px 8px;

    border: 1px solid var(--theme-border);
    border-radius: 0.75rem;

    display: flex;
    flex-direction: row;
    column-gap: 0.25rem;
    justify-content: flex-start;
    align-items: center;
  }

  .seo-keyword__icon {
    align-self: center;
    display: flex;
    align-items: center;
  }
  .seo-keyword__label {
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .seo-keywords--container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
  }
}