.blog-container {
  max-width: 1440px;
  margin: 2rem auto auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  .form--container {
    grid-column-start: 3;
    grid-column-end: -3;

    // background: rgba(255, 255, 255, 0.1); /* semi-transparent white */
    background: rgba(255, 255, 255, 0.1); /* semi-transparent white */
    backdrop-filter: blur(10px); /* this is what creates the frosted glass effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* optional, a subtle shadow can enhance the effect */
    padding: 20px;
  }

  .page-layout--container {
    grid-column-start: 2;
    grid-column-end: -2;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .seo-keywords--container {
    grid-column-start: 2;
    grid-column-end: -2;
  }

  .page-image--container {
    grid-column-start: 3;
    grid-column-end: -3;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .blog-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    .form--container {
      grid-column-start: 2;
      grid-column-end: -2;
    }

    .seo-keywords--container {
      grid-column-start: 2;
      grid-column-end: -2;
    }

    .page-image--container {
      grid-column-start: 2;
      grid-column-end: -2;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .blog-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem
  }
}

@media (min-width: 576px) and (max-width: 768px) {
    .blog-container {

        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0.25rem;
        grid-row-gap: 0.25rem;
    
        .form--container {
          grid-column-start: 1;
          grid-column-end: -1;
        }
    
        .page-layout--container {
          grid-column-start: 1;
          grid-column-end: -1;
    
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-column-gap: 1rem;
          grid-row-gap: 1rem;
        }
    
        .seo-keywords--container {
          grid-column-start: 1;
          grid-column-end: -1;
        }
    
        .page-image--container {
          grid-column-start: 1;
          grid-column-end: -1;
        }
      }
}