.page-layout--container {
  .page-outline--container {
    grid-column-start: 1;
    grid-column-end: 4;

    display: flex;
    flex-direction: column;
    grid-row-gap: 0.5rem;

    border-right: 4px solid var(--theme-border);
  }

  .page-outline-view--container {
    padding: 8px 8px 8px 8px;
    font-size: 1rem;
    line-height: 1.5rem;

    border-left: 2px solid var(--theme-border);
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: var(--theme-background-color-on-hover);
    }
  }

  .page-content-section--container {
    grid-column-start: 4;
    grid-column-end: -1;

    display: flex;
    flex-direction: column;
    grid-row-gap: 0.5rem;
  }

  .page-content-view--container {
    border-bottom: 2px solid var(--theme-border);
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .page-layout--container {
    .page-outline--container {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    .page-content-section--container {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}
